BASE_DIR="/usr/home/darke/lib/www/wwwcount2.3"
CGIBIN_DIR="/usr/home/darke/lib/www/cgi-bin"
CONFIG_FILE="count.cfg"
CONFIG_DIR="/usr/home/darke/lib/www/wwwcount2.3/conf"
DIGIT_DIR="/usr/home/darke/lib/www/wwwcount2.3/digits"
DATA_DIR="/usr/home/darke/lib/www/wwwcount2.3/data"
LOG_DIR="/usr/home/darke/lib/www/wwwcount2.3/Log"
LOG_FILE="Count2.3.log"
RGB_FILE="./wcount/rgb.txt"
RGB_DIR="/usr/home/darke/lib/www/wwwcount2.3"
