=-=-=-=-=-=-=-=-=-=- DarkeMUD RULES -=-=-=-=-=-=-=-=-=-=-=

I am imposing very few rules, but if you can't follow the few that
are here, then mail me so I can delete you!

CHEATING:

	- The following is considered cheating.

		1) Abusing a bug.
		2) If you know another player is cheating and do not 
                     report him to a wiz.
		3) If a wizard helps you.
		4) Giving any information about quests out to other
		     players.  This counts emailing the directions.
		     It would not be in your interest to give out this 
                     information because quest points only make the
		     other player stronger.  This is a very competitive 
                     mud.
		5) Multiple characters, especially if I catch both on
		     at the same time.
		6) Playing someone else's character.
                7) BOTS!!!  I will F**&*&^#*&$ YOU UP if I catch you
		     with one.  BOTS are scripts that do the work for 
                     you.


COMMUNICATION:

	- You will be banished for sexual harassment of players.
            An admin will review the events and decide if you need to 
            be nixed.
        - The admin take a dim view of mud sex, but it is still allowed.
            I guess.  Though I will probably dest you.

CRASHES:

	- If the games crashes... and this would be VERY rare.  There is
            a monetary reimbursement of the value of the items on you.

MULTIPLE CHARACTERS:

	- You can't have them.  You just get ONE!  If an admin catches
            you with two characters they will delete the highest one.
	- If I catch you with two on at the same time, I will delete both.

PLAYER KILLING:

	- Yea right...  KILL'EM ALL!  DarkeMUD is open pk.
	- It is only controlled by other players.

PLAYER LAW:

	- Well, I am letting you all set the rules.  You all enforce them.
	- But most of all, remember it's just a game and don't take it
	    too seriously.  We're all here to have fun.

WARS:

	- There will be seperate RULES for the war system.
    	    Currently it is not coded, so there are no rules for it yet.

++Drizzt 2/21/96 - NUTYADIE!

ADDENDUM (Diewarzau):
     There are several conveniences provided on the mud which are
open to abuse.  I won't tell you what they are, or of course you
will abuse them, but just let it be known that if we catch you doing so,
we will revoke any benefits you may have gained from the abuse.  If it
continues we will delete you.
